@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Noto+Sans:400,700');
html, body {
    height: 100%;
    overflow: hidden;
    margin: 18px 0px 0px 0px;
    -webkit-user-select: none;
}
body, input, textarea, select {
    font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
}
h1 {
    font-family: Noto Sans, Open Sans, Helvetica Neue, Arial, sans-serif;
}
h1, h2, h3, h4, h5, p, div {
    cursor: default;
}

/*input[type="submit"], .btn {
    background-color: #dd4343;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    transition: background.5s ease;
}*/

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

ol {
  /* Counter auf 0 setzen und Namen vergeben */
  counter-reset: list;

  list-style: none;
}

li {
  /* Counter mit jedem li erhöhen */
  counter-increment: list;

  margin-bottom: 10px;
}

li::before {
  /* Aktuellen Wert mit . (Punkt) danach ausgeben und
     Art des Aufzählungszeichens definieren */
  content: counter(list, decimal-leading-zero);

  background: #3cade2;

  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  text-align: center;

  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  line-height: 2.3em;
  display: inline-block;
  margin-right: 1em;
}

input[type="text"] {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  outline:none;
  white-space: nowrap;
  font-size: 13px;
  text-overflow: ellipsis;
  padding: 9px;
  float: left;
  overflow: hidden;
}

.btn {
    display: inline-block;
    background-color: #ddd;
    color: #333;
    padding: 9px 12px;
}
.btn-primary {
    background-color: #f04646;
    color: #fff;
}
.btn:hover {
    background-color: #eee;
}

.btn .fa {
    margin-right: 6px;
}
input[type="checkbox"], input[type="file"] {
    display: none;
}
input[type="checkbox"]+label {
    display: inline-block;
    background-color: #f6f6f6;
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #bbb;
    padding: 4px !important;
    margin: 0px 9px 6px 0px;
    opacity: 0.8;
    float: none !important;
    transition: .3s ease;
}
input[type="checkbox"]+label:hover {
    opacity: 1;
}
input[type="checkbox"]:checked+label {
    background-color: #f04646;
    color: #fff;
}
select {
    position: relative;
    flex: 1;
    margin-left: 5px;
    padding: 8px 0px 6px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    color: #444;
    text-align: left;
    vertical-align: middle;
}
pre {
    -webkit-user-select: text;
    white-space: pre-line;
}
.hidden {
    display: none;
}
body>div {
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body.error {
    top: 0px;
    background-color: #fff;
    border-top: solid 6px #341661;
    padding: 42px;
    margin-top: 0px;
    color: #341661;
}
body.error h1 {
    font-size: 42px;
    font-weight: 300;
}
body.error .fa {
    font-size: 256px;
    float: right;
    margin: 0px 0px 0px 64px;
}
.topbar, .error {
    position: fixed;
    right: 0px;
    left: 0px;
    height: auto;
    color: #fff;
    z-index: 999;
}
.topbar {
    height: 37px;
    top: 0px;
    background-color: #37a1d2;
    border-bottom: none;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    -webkit-app-region: drag;
}
.topbar .title {
    padding: 9px;
}
.topbar .windows .close, .topbar .windows .minimize {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 12px 12px 9px 12px;
    -webkit-app-region: no-drag;
    float: right;
}
.topbar .windows .minimize {
    padding: 6px 12px 15px 12px;
}
.topbar .windows .minimize:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 2px;
    border-bottom: solid 2px #fff;
}
.topbar .windows .close:hover, .topbar .windows .minimize:hover {
    background-color: #be2828;
}
.topbar.lostFocus .mac .ico_circle {
    background-color: #dfdfdf !important;
    border-color: #d1d1d1;
}
.topbar .mac .ico_circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    float: left;
    background: red;
    margin-right: 8px;
    border-radius: 12px;
    position: relative;
    margin-top: 11px;
    background-repeat: no-repeat;
    background-position: center center;
}
.topbar .mac:hover .close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAMAAADXEh96AAAAElBMVEX///+GAwiPCQ+cFBedFBeeFBdjGTfWAAAAAXRSTlMAQObYZgAAACNJREFUCNc1yLcNADAQxDBd2n9lN++KAPFgpkpUiBQ+ly7MDwZhAEz5LUm1AAAAAElFTkSuQmCC);
}
.topbar .mac .close:active {
    background-color: #C86457;
}
.topbar .mac .minimize:active {
    background-color: #D19B3F;
}
.topbar .mac .max:active {
    background-color: #28883E;
}
.topbar .mac:hover .minimize {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAMAAABSSm3fAAAACVBMVEWeVxWeWRa3cyEERjnuAAAAEUlEQVR4AWNgYmQAAkYmOAMAAH4ADWy/N2MAAAAASUVORK5CYII=);
}
.topbar .mac:hover .max {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAMAAADXEh96AAAAFVBMVEX///8AZREAZhEAbRUBZBABbBUBgB/W3+WuAAAAAXRSTlMAQObYZgAAACNJREFUeAEVxcERACAMAyCaqPuP7JUP6OTBPdF9zEXl7F6mfAVqAEH8644UAAAAAElFTkSuQmCC);
}
.topbar .mac .close {
    border: 1px solid #da3735;
    background-color: #ff5a56;
}
.topbar .mac .minimize {
    border: 1px solid #db962e;
    background-color: #ffc045;
}
.topbar .mac .max {
    border: 1px solid #1c933a;
    background-color: #00cc4b;
}
.topbar .mac .ico_circle:first-child {
    margin-left: 12px;
}
.error {
    top: 36px;
    background-color: #472f5a;
    border-width: 0px 1px;
    font-size: 12px;
    color: #fff;
    padding: 12px;
}
.bgcurve {
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: rgba(255, 255, 255, 0.04);
    /*#401580;*/
    border-radius: 100%;
    transform: rotate(60deg);
    margin-top: -30px;
    z-index: 0 !important;
}
.gettingStarted {
    background-color: #f04646;
    /*#341661*/
}
.gettingStarted .inner {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 128px 0px;
    overflow: hidden;
}
.gettingStarted h1 {
    font-size: 48px;
    font-weight: 300;
}
.gettingStarted h1 span {
    font-weight: bold;
}
.gettingStarted input[type="text"], .gettingStarted input[type="password"] {
    width: 260px;
    margin-bottom: 9px;
}
.gettingStarted input[name="tfa"] {
    display: none;
}
.main {
    display: none;
    background-color: #f6f6f6;
}
.main header {
    background-color: #3cade2;
    color: #fff;
    padding: 0px 24px;
    overflow: hidden;
}
.main header h1 {
    font-weight: 300;
}
.main header h1 span {
    font-weight: bold;
}
.main header .fa {
    float: right;
    opacity: 0.8;
    cursor: pointer;
    margin: 32px 0px;
}
.main header .fa:hover {
    opacity: 1;
}
.main footer {
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    color: #666;
    border-style: solid;
    border-width: 1px;
    border-color: #fff #fff #fff #fff;
    font-size: 12px;
    padding: 9px 24px;
    overflow: hidden;
    z-index: 999;
}
.main footer .status div {
    display: none;
}
.main footer .status div:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #ccc;
    border-radius: 100px;
    margin-right: 6px;
}
.main footer .status .connected:before {
    background-color: #66bc66;
}
.main footer .status .connecting:before, .main footer .status .updating:before {
    background-color: #f04646;
    -webkit-animation: 3s indicator infinite;
}
.main footer .status .disconnected:before {
    background-color: #de7b7b;
}
.main footer .update {
    float: right;
}
.main footer .update a {
    display: inline;
    padding: 3px 9px;
}
.main>div {
    padding: 12px;
}
.main .content {
    background-color: #fff;
    border: solid 1px #eee;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #eee;
    font-size: 14px;
    padding: 12px;
    margin: 4px 0px 24px 0px;
}
.main .content h3 {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    margin: 0px 0px 9px;
}
.main .content .user {
    transition: .5s ease;
    overflow: hidden;
}
.main .content .user:hover {
    background-color: #eee;
}
.main .content .user img {
    width: 48px;
    border-radius: 100px;
    margin-right: 12px;
    float: left;
}
.main .content .user>div {
    margin-left: 60px;
}
.main .content .user .name {
    font-weight: bold;
    white-space: nowrap;
    margin-top: 4px;
}
.main .content .user .amount {
    color: #666;
}
.main .content .total {
    font-size: 32px;
    font-weight: 300;
    color: #f04646;
}
.main .content .since {
    color: #666;
}
.main .content .options {
    color: #666;
    cursor: pointer;
    float: right;
    padding: 2px 0px;
    opacity: 0.6;
    transition: .5s ease;
}
.main .content .options:hover {
    opacity: 1;
    transform: rotate(45deg);
}
.music>.connecting, .music>.connected, .music>.fail {
    display: none;
    margin-bottom: 12px;
}
.music .toggle {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: #eee;
    text-align: center;
    color: #fff;
    padding: 0px 1px 1px 1px;
    transition: .5s ease;
}
.music .toggle.enabled {
    background-color: #59B36E;
}
.music .toggle.disabled {
    background-color: #D66B6B;
}
.connecting:before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #f04646;
    border-radius: 100px;
    margin-right: 6px;
    -webkit-animation: 3s indicator infinite;
}
.music .requests {
    padding: 9px 0px;
}
.music .right {
    color: #666;
    text-align: right;
    float: right;
    opacity: 0.8;
    transition: .5s ease;
}
.music .right:hover {
    opacity: 1;
}
.music .right .label {
    background-color: #eee;
    border: solid 1px #ccc;
    font-size: 10px;
    padding: 2px 6px;
    float: left;
}

.third, .third-2, .half {
    box-sizing: border-box;
    padding: 12px;
    float: left;
}
.third {
    width: 33.3%;
}
.third-2 {
    width: 66.6%;
}
.half {
    width: 50%;
}
.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    z-index: 1;
}
.modal>div {
    min-height: 520px;
    background-color: #fff;
    max-width: 90%;
    box-shadow: 0px 0px 9px #000;
    box-sizing: border-box;
    overflow: hidden;
    padding: 24px;
    margin: 48px auto;
}
.modal>div[data-modal="files"] {
    min-height: 0px;
}
.modal>div[data-modal="spotify"] {
    max-width: 460px;
    min-height: initial;
}
.modal h2 {
    border-bottom: solid 1px #dd4343;
    color: #dd4343;
    padding-bottom: 6px;
    margin: 0px 0px 12px 0px;
}
.modal h2 .close {
    float: right;
    margin-top: -6px;
}
.modal form div {
    overflow: hidden;
}
.modal form input {
    font-size: 13px;
    padding: 9px;
}
.modal form div input, .modal form div input+label.right {
    float: right;
}
.modal form div input[type="radio"], .modal form div input[type="radio"]+label {
    float: none;
}
.modal form div select {
    margin-bottom: 9px;
}
.modal form div label.short {
    padding-right: 24px;
}
.modal form div label.field {
    width: 92px;
}
.modal form .third label {
    display: block;
    padding: 0px 0px 6px 0px;
}
.modal form .third input {
    float: none;
    margin-bottom: 12px;
}
.modal form .third select {
    min-width: 155px;
    margin-bottom: 0px;
}
.modal form label {
    display: inline-block;
    padding: 9px 0px 6px 0px;
}
.modal .third, .modal .third-2, .modal .third {
    padding: 0px;
}
input[type="file"]+label {
    font-size: 12px;
    padding: 9px 16px;
}
.file {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    border: solid 1px #eee;
}
.file input {
    display: none;
}
.file label {
    display: inline-block;
    width: 40%;
    background-color: #3cade2;
    box-sizing: border-box;
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding: 9px !important;
    opacity: 0.8;
    transition: .3s ease;
    float: left;
}
.file label:hover {
    opacity: 1;
}
.file .filename {
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 13px;
    text-overflow: ellipsis;
    padding: 9px;
    float: left;
    overflow: hidden;
}

.go {
  display: inline-block;
  width: 100%;
  border: solid 1px #eee;
  outline: 0;
  background-color: #3cade2;
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  color: #fff;
  padding: 9px !important;
  float: left;
}

.updatecover {
    position: fixed;
    top: 36px;
    bottom: 0px;
    display: none;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding: 256px 0px;
    z-index: 9999;
}
.modal .files .file {
    float: right;
}
.modal .files .list {
    height: 320px;
    overflow-y: auto;
    margin-top: 24px;
}
.modal .files .list::-webkit-scrollbar {
    width: 12px;
}
.modal .files .list::-webkit-scrollbar-thumb {
    background-color: #bbb;
}
.modal .files .list::-webkit-scrollbar-track {
    background-color: #ddd;
}
.modal .files .list a {
    display: block;
    background-color: #eee;
    padding: 9px;
    transition: background .5s ease;
}
.modal .files .list a:nth-child(even) {
    background-color: #f9f9f9;
}
.modal .files .list a:hover, .modal .files .list a.active {
    background-color: #ddd;
}
.modal .files .list a.rename {
    padding: 2px;
}
.modal .files .list input {
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    padding: 6px;
    margin: 0px;
}
.modal .files .edit {
    padding: 24px 0px 0px 12px;
}
.modal .files .format {
    height: 108px;
    border: solid 1px #aaa;
    box-sizing: border-box;
    cursor: text;
    padding: 12px;
    overflow-y: auto;
}
.modal .files .tag {
    display: inline-block;
    background-color: #977bac;
    border: solid 1px #9069ad;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    padding: 4px 6px 5px 6px;
    margin: 0px 2px;
}
.modal .files .tag.selected {
    background-color: #9069ad;
}
.modal .files .edit a {
    text-decoration: none;
    color: #666;
}
.modal .files .edit a:hover {
    text-decoration: underline;
}
.modal .files .edit .options {
    border-top: solid 1px #ccc;
    padding-top: 16px;
    margin-bottom: 0px;
}
.modal .files .edit .btn {
    font-size: 12px;
}
.modal .files .edit .btn-primary {
    color: #fff;
}
.modal .files .edit .btn:hover {
    text-decoration: none;
}
.modal .files .edit .indicator {
    display: none;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: #503a60;
    float: right;
    margin: 9px 0px;
    -webkit-animation: 2s indicator infinite;
}
.modal .notifications .position {
    display: inline-block;
    width: 48px;
    height: 24px;
    position: relative;
    top: 16px;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 9px;
    margin: -16px 16px 0px 0px;
}
.modal .notifications .position>div {
    width: 24px;
    height: 12px;
    border-radius: 4px;
    background-color: #977bac;
}
.modal .notifications .position .bottom {
    margin-top: 12px;
}
.modal .notifications .positioning .field {
    padding-bottom: 32px;
}
.modal .notifications .position .right {
    float: right;
}
.modal .notifications .sound label {
    float: left;
}
.modal .youtube {
    text-align: center;
    margin-top: 32px;
}
.modal .youtube iframe {
    width: 100%;
    height: 428px;
}
.chip {
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.scroll {
    height: 200px;
    overflow: auto;
    float: left;
    margin: 0 10px;
    padding: 10px 10px 10px 10px;
}
.scroll4::-webkit-scrollbar {
    width: 10px;
}
.scroll4::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}
.scroll4::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
